[user]
	email = bjackson@macalester.edu
	name = Bret Jackson

[core]
	editor = vim
	
[push]
	default = simple
	
[merge]
    tool = unityyamlmerge

[mergetool "unityyamlmerge"]
    trustExitCode = false
    cmd = 'C:\Program Files\Unity\Editor\Data\Tools\UnityYAMLMerge.exe' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
	
[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yello
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = red


